doctype html
html(lang="en")
  head
    title Liste des livres

  body
    h1 Liste des livres

    each book in books
      ul(class="books")
        li
          h2 Titre : #{book.titre}
        li
          h3 Auteur : #{book.auteur}
        li ISBN : #{book.ISBN}
        li Date d'achat : #{book.dateachat}
        li Etat : #{book.etat}
        li Thematique(s) : #{book.thematiques}
        li Pret(s) :
          - var  n = 0;
          while n < book.prets.length
            ul(class="prets")
              li= '#'+(n+1)
              li Date du pret : #{book.prets[n].datepret}
              li Emprunteur : #{book.prets[n].emprunteur}
              - n++
